@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sigmar&display=swap');

:root {
  /* color pallete */
  --color-1: #1B262C;
  --color-2: #0F4C75;
  --color-3: #3282B8;
  --color-4: #BBE1FA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template: 0.5fr 6fr 0.3fr / minmax(min-content, 0.8fr) 5fr;
  width: 100%;
  height: 100vh;
  background-color: var(--color-1);
}

/* header */

header {
  grid-area: 1/2/2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max(100%, 350px);
  background-color: var(--color-2);
}

header img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header img:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.sidebar-btn-div {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  padding-left: 0.5em;
}

.sidebar-btn-div img {
  width: 2.2em;
  height: 2.2em;
}

.h1-div {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  color: var(--color-4);
  font-family: 'Sigmar', cursive;
  font-size: 1.1rem;
  font-style: italic;
  letter-spacing: 2px;
}

.profile-div {
  display: flex;
  gap: 1.2em;
  padding-right: 1em;
}

.profile-div img {
  width: 2.1em;
  height: 2.1em;
}

/* nav */

nav {
  grid-area: 1/1/4/2;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 3px;
  background-color: var(--color-3);
  font-family: 'Oswald', sans-serif;
}

.nav-logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  padding-bottom: 1.6em;
  color: var(--color-4);
  font-size: 2.1rem;
  font-family: 'Sigmar', cursive;
  font-style: italic;
  letter-spacing: 2px;
}

.nav-logo-div img {
  width: 2.1em;
  height: 2.1em;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

nav li {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 8px 1em;
  color: var(--color-4);
  font-size: 1.5rem;
  cursor: pointer;
}

nav ul li:hover {
  background-color: #0F4C75;
  transition: 0.3 ease-in-out;
}

nav li>img {
  width: 1.5em;
  height: 1.5em;
}

nav hr {
  margin: 1em;
  width: 80%;
  color: var(--color-4);
}

/* main */

main {
  grid-area: 2/2/3/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 60%;
  height: 80%;
  border: solid 2px var(--color-4);
  border-radius: 10px;
  padding: 1em;
  color: var(--color-4);
}

.content > h2 {
  font-size: 1.8rem;
  font-style: italic;
}

/* main - home */

.task-list-div {
  width: 100%;
  height: 100%;
  border: solid 1px var(--color-4);
}

/* footer */

footer {
  grid-area: 3/2/4/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-2);
  color: var(--color-4);
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}