@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sigmar&display=swap');

:root {
  /* color pallete */
  --color-1: #1B262C;
  --color-2: #0F4C75;
  --color-3: #3282B8;
  --color-4: #BBE1FA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template: 0.5fr 6fr 0.3fr / minmax(min-content, 0.8fr) 5fr;
  width: 100%;
  height: 100vh;
  background-color: var(--color-1);
}

/* header */

header {
  grid-area: 1/2/2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max(100%, 350px);
  background-color: var(--color-2);
  box-shadow: 0 0 10px;
}

header img {
  transition: transform .2s ease;
}

header img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.sidebar-btn-div {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  padding-left: 0.5em;
}

.sidebar-btn-div img {
  width: 2.2em;
  height: 2.2em;
}

.h1-div {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  color: var(--color-4);
  font-family: 'Sigmar', cursive;
  font-size: 1.1rem;
  font-style: italic;
  letter-spacing: 2px;
}

.h1-div h1 {
  cursor: pointer;
}

.profile-div {
  display: flex;
  gap: 1.2em;
  padding-right: 1em;
}

.profile-div img {
  width: 2.1em;
  height: 2.1em;
}

/* nav */

nav {
  grid-area: 1/1/4/2;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 3px;
  height: max(100%, 40em);
  background-color: var(--color-3);
  font-family: 'Oswald', sans-serif;
  box-shadow: 0 0 10px;
}

.nav-logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  padding-bottom: 1.6em;
  color: var(--color-4);
  font-size: 2.1rem;
  font-family: 'Sigmar', cursive;
  font-style: italic;
  letter-spacing: 2px;
}

.nav-logo-div img {
  width: 2.1em;
  height: 2.1em;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

nav li {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 8px 1em;
  color: var(--color-1);
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform .1s ease;
  border-radius: 10px;
}

nav ul li:hover {
  background-color: #0F4C75;
  transition: 0.3 ease-in-out;
  transform: scale(1.05);
  color: var(--color-4);
}

nav li>img {
  width: 1.5em;
  height: 1.5em;
}

nav hr {
  margin: 1em;
  width: 80%;
  color: var(--color-4);
}

/* main */

main {
  grid-area: 2/2/3/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  width: clamp(200px, 80%, 1000px);
  height: 100%;
  padding: 1em;
  color: var(--color-4);
}

.content > h2 {
  font-family: 'Sigmar', cursive;
  font-size: 1.8rem;
  font-style: italic;
}

/* main - add task */

.content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
}

#title,
#details,
#category,
#date,
#submit {
  font-size: 1.2rem;
  padding: 10px;
  background-color: var(--color-1);
  border: solid 2px var(--color-4);
  color: var(--color-4);
  border-radius: 10px;
}

#title:hover,
#details:hover,
#category:hover,
#date:hover,
#submit:hover {
  border: solid 2px var(--color-2);
}

#category:hover,
#date:hover,
#submit:hover,
#true:hover,
#false:hover {
  cursor: pointer;
}

#submit:hover {
  transform: scale(1.05);
}

.content form textarea {
  resize: none;
}

.important-div,
.date-div {
  display: flex;
  align-items: center;
  gap: 1.2em;
  padding-top: 0.3em;
}

.important-div>div {
  display: flex;
  gap: 0.5em;
}

.btn-div {
  text-align: center;
}

#submit {
  padding: 0.5em 1.1em;
  font-family: 'Sigmar', cursive;
  font-style: italic;
  font-size: 1.4rem;
  transition: transform .2s ease;
}

/* main - lists */

.task-list-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  width: 100%;
  height: 100%;
  font-family: 'Oswald', sans-serif;
  overflow: auto;
}

.list-item {
  display: grid;
  grid-template: 3em / min-content 1fr 0.3fr repeat(3, min-content);
  align-items: center;
  gap: 0.7em;
  padding: 0 0.7em;
  width: max(100%, 30em);
  height: 3em;
  border: solid 1px var(--color-4);
  transition: transform .1s ease;
  text-decoration: line-through;
  border-radius: 10px;
}

.list-img {
  width: 1.2em;
  height: 1.2em;
}

.list-img:hover {
  cursor: pointer;
}

.list-item:hover {
  background-color: var(--color-2);
  transform: scale(1.01);
}

/* main - details */

.details-div {
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
  padding: 1em;
  width: 22em;
  height: min-content;
  background-color: var(--color-2);
  color: var(--color-4);
  border: solid 2px var(--color-4);
  border-radius: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
}

.details-btn-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.details-btn {
  width: 5em;
  padding: 5px;
  background-color: var(--color-2);
  color: var(--color-4);
  border: solid 2px var(--color-4);
  border-radius: 10px;
  transition: transform .2s ease;
}

.details-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  border-color: var(--color-1);
}

/* footer */

footer {
  grid-area: 3/2/4/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-2);
  color: var(--color-4);
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  box-shadow: 2px 0 10px black;
}